{% extends 'blog/base.html' %}
{% load i18n %}

{% block content %}
<br>
<br>
<br>
<div class="container mb-5 mt-5">
    <style>
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            direction: ltr;
        }

        input {
            width: 300px;
            height: 50px;
            border-radius: 10px;
            margin: 20px;

        }

        label {
            width: 80px;
            color: black;
        }
    </style>
    <div class="row mx-auto">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center"><i class="fa fa-envelope"></i> ویرایش محصول
                </div>
                <div class="card-body">
                    <form method="post" id="edit_product" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">{% trans "ذخیره" %}</bottun>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}