{% extends 'blog/base.html' %}
    {% block title %}
    فروشگاه وی کو چند - یک حرفه‌ای 
    {% endblock %}
{% block content %}
<div class="ax-hero row pb-5 pt-0 py-md-5 px-3 px-md-0">
    <div class="col-12 ax-hero-content text-center">
        <h2 class="h2">سلام. به فروشگاه آنلاین وبلوپرز خوش آمدید.</h2>
<style>
.heart{
animation: heartbeat 2s infinite;
}
@keyframes heartbeat
{
  0%
  {
    transform: scale( 1.75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( 1.75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( 1.75 );
  }
  100%
  {
    transform: scale( 1.75 );
  }
}
.heart-text{
    border: #1E90FF solid 2px;
    padding: 20px;
    border-radius:20px;
}
</style>
<br> <br>
<div class="heart-text">
        <h1 class="h1">وی کو چند</h1>
        <h2 class="h2">ما تلاشمون رو کردیم ، باگا زیاد بود</h2>
        <h2 class="h2">باگا هم که زیاد باشه، جاج خطا میگیره</h2>
        <h2 class="h2">جاج هم که خطا بگیره ما برنده نمیشیم :)))</h2>
        <h2 class="h2">ولی در کل دمتون گرم بابت مسابقه</h2><br>
        <h2 class="h2 heart">❤️</h2>
        </div>
    </div>
</div>
{% endblock %}