{% extends 'blog/base.html' %}
{% block title %}
پنل در ویکو چند کبیر
{% endblock %}
{% block content %}

<div class="d-felx container w-75 justify-content-center my-5">
{% if kazem == True %}

<div class="row bg-dark p-3 rounded">
<h3 class="h3 col-12 text-center py-3">پنل کاربری</h3>
<a id="make_new_product" class="btn bg-success text-white col-6 py-4" href="/addproduct/">
ورود به صفحه ساخت محصول</a>
<a class="btn bg-danger text-white col-6 py-4" id="my_products" href="/myproducts/">
ورود به صفحه محصولات</a>

</div>
  
{% endif %}

<style>
        .container{
            max-width: 940px;
            }
    .form-control:focus{
        border-color: #2e3133;
        box-shadow: 1px 1px 1px  #2e3133 !important;
    }
    </style>
    <div class="container mb-5 mt-5">
        <div class="row mx-auto">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-secondary text-white text-center"><i class="fa fa-envelope"></i> ساخت محصول
                    </div>
                    <div class="card-body">
                        <form id="become_seller" action="/panel/" method="post">
                            {% csrf_token %}
                            <div class="d-flex my-2">
                            <button type="submit" class="btn btn-outline-success text-center mx-auto" style="width: 150px;"> فروشنده شوید </button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}