{% extends 'blog/base.html' %}
    {% block title %}
ثبت نام در ویکو چند کبیر
    {% endblock %}
{% block content %}
<form class="login100-form validate-form" id="register_form" action="/register/" method="post">
                    {% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="First Name is required">
						<span class="label-input100">First name</span>
						<input name="first_name" class="input100" type="text" placeholder="Enter first name">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Last Name is required">
						<span class="label-input100">Last name</span>
						<input name="last_name" class="input100" type="text" placeholder="Enter last name">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input name="username" class="input100" type="text" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
						<span class="label-input100">Email</span>
						<input name="email" class="input100" type="email" placeholder="Enter email">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password1" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password repeat is required">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" name="password2" placeholder="Enter password again">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" name="submit">
							Sign Up
						</button>
					</div>
				</form>
{% endblock %}