{% extends 'blog/base.html' %}
    {% block title %}
ثبت نام در ویکو چند کبیر
    {% endblock %}
{% block content %}

{% if error_pass %}
        <div class="container" id="errors">
            <div class="alert alert-danger alert-dismissible fade show text-right" role="alert" dir="rtl">
              گذرواژه و تکرار گذرواژه یکسان نیستند
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
    {% elif error_user %}
    <div class="container" id="errors">
            <div class="alert alert-danger alert-dismissible fade show text-right" role="alert" dir="rtl">
              نام کاربری شما در سیستم موجود است
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
     {% endif %}
	 
<form class="d-felx container w-50 justify-content-center validate-form" id="register_form" action="/register/" method="post">
                    {% csrf_token %}
					<div class="validate-input" data-validate="First Name is required">
						<label class="my-2">نام شما</label>
						<input name="first_name" class="form-control" type="text" placeholder="نام خود را وارد کنید">
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Last Name is required">
						<label class="my-2">نام خانوادگی شما</label>
						<input name="last_name" class="form-control" type="text" placeholder="نام خانوادگی خود را وارد کنید">
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Username is required">
						<label class="my-2">نام کاربری</label>
						<input name="username" class="form-control" type="text" placeholder="یک نام کاربری وارد کنید">
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Email is required">
						<label class="my-2">ایمیل</label>
						<input name="email" class="form-control" type="email" placeholder="ایمیل شما">
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<label class="my-2">رمز عبور</label>
						<input class="form-control" type="password" name="password1" placeholder="رمز عبورتان را وارد کنید">
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Password repeat is required">
						<label class="my-2">تایید رمز عبور</label>
						<input class="form-control" type="password" name="password2" placeholder="رمز عبورتان را وارد کنید">
					</div>

					<div class="m-4 text-left">
						<button class="btn btn-primary" type="submit" name="submit">
							ثبت نام کنید
						</button>
					</div>
				</form>
{% endblock %}