{% extends 'blog/base.html' %}
{% block title %}
محصولات ما
{% endblock %}
{% block content %}
<style>
    .ax-text-products {
        font-size: 70px;
    }
</style>



<div class="d-felx container justify-content-center my-5">

    <div class="col-md-4 mx-auto mb-5">
        <form action="/products/" method="POST" id="search_products" dir="rtl" class="my-2">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="جست و جو در محصولات">
            </div>
            <div class="d-flex my-2">
                <button name="submit" type="submit" class="btn btn-success text-center mx-auto" style="width: 150px;">جست و
                    جو</button></div>
        </form>
    </div>

    <div class="row bg-dark p-3 rounded">
        <h3 class="h3 col-12 text-center py-3">محصولات</h3>
        <div class="row d-flex justify-content-center text-center" id="all_products">





            {% for productlist in search_list %}

             <div class="col-md-3 col-12 ax-bg-products {{ productlist.human_readable_title }}_{{ productlist.author.username }}">
                <div class="ax-text-products ax-icon-marketing"></div>
                <h4>نام محصول : {{ productlist.name }}</h4>
                <div>موجودی : {{ productlist.quantity }}</div>
                <div>قیمت : {{ productlist.price }}</div>
                <div>نام : {{ productlist.author.first_name }}</div>
                <div>نام خانوادگی : {{ productlist.author.last_name }}</div>


            </div>


            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}