{% extends 'blog/base.html' %}
{% block title %}
محصولات شما
{% endblock %}
{% block content %}
<style>
    .ax-text-products {
        font-size: 70px;
    }
</style>
<div class="d-felx container justify-content-center my-5">
    <div class="col-md-4 mx-auto mb-5">
        <form action="" method="POST" id="search_products" dir="rtl" class="my-2">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="جست و جو در محصولات">
            </div>
            <div class="d-flex my-2">
                <button name="submit" type="submit" class="btn btn-success text-center mx-auto" style="width: 150px;">جست و
                    جو</button></div>
        </form>
    </div>

    <div class="row bg-dark p-3 rounded">
        <h3 class="h3 col-12 text-center py-3">محصولات</h3>
        <div class="row d-flex justify-content-center text-center" id="all_products">





            {% for productlist in search_lists %}

            <div class="col-md-4 col-12 {{ productlist.name }}_{{ productlist.author.username }}">
                <div class="ax-text-products ax-icon-marketing"></div>
                <h4>{{ productlist.name }}</h4>
                <div>{{ productlist.quantity }}</div>
                <div>{{ productlist.price }}</div>
                <div>{{ productlist.author.first_name }}</div>
                <div>{{ productlist.author.last_name }}</div>


            </div>


            {% endfor %}
            {% for user_product in user_products %}

            <div class="col-md-4 col-12 {{ user_product.name }}_{{ user_product.author.username }}">
                <div class="ax-text-products ax-icon-marketing"></div>
                <h4>{{ user_product.name }}</h4>
                <div>{{ user_product.quantity }}</div>
                <div>{{ user_product.price }}</div>
                <div>{{ user_product.author.first_name }}</div>
                <div>{{ user_product.author.last_name }}</div>


                <a id="edit_{{ productlist.name }}_{{ productlist.author.username }}" href="/edit/">ویرایش محصول</a>
                <a id="delete_{{ productlist.name }}_{{ productlist.author.username }}" href="/delete/">حذف محصول</a>
            </div>


            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}