{% extends 'blog/base.html' %}
{% block title %}
محصولات شما
{% endblock %}
{% block content %}
<style>
    .ax-text-products {
        font-size: 70px;
    }.rounded{
        border-radius:30px!important;
    }
</style>

<div class="d-felx container justify-content-center my-5">
    
    <div class="row bg-dark p-3 rounded">
        <h3 class="h3 col-12 text-center py-3">محصولات</h3>
        <div class="row d-flex justify-content-center text-center" id="all_products">



            {% for user_product in user_products %}

            <div class="col-md-3 col-12 ax-bg-products {{ user_product.name }}_{{ user_product.author.username }}">
                <div class="ax-text-products ax-icon-marketing"></div>
                <h4>نام محصول : {{ user_product.name }}</h4>
                <div>موجودی : {{ user_product.quantity }}</div>
                <div>قیمت : {{ user_product.price }}</div>
                <div>نام : {{ user_product.author.first_name }}</div>
                <div>نام خانوادگی : {{ user_product.author.last_name }}</div>


                <a id="edit_{{ user_product.name }}_{{ user_product.author.username }}" href="{% url 'blog:editproduct' id=user_product.id %}">ویرایش محصول</a>
              <a id="delete_{{ user_product.name }}_{{ user_product.author.username }}" href="{% url 'blog:deleteproduct' id=user_product.id %}">حذف محصول</a>

            </div>


            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}